/* .app-header { 
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.app-link {
  color: #61dafb;
}*/
/*
.app {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 4.5rem 28rem auto 25rem 5rem;
  grid-column-gap: 3rem;
  grid-row-gap: 4.5rem;
}

.get-started__cards {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}*/
