/* .authentication {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 2.8rem auto 2.5rem auto;
  grid-column-gap: 3rem;
  grid-row-gap: 4.5rem;
} */

.authentication__main {
  margin-top: 4.5rem;
  min-height: calc(100vh - 4.5rem - 5rem);
}
