.profile__info,
.team__info {
  justify-content: center;
  display: flex;
}

.profile__info__left,
.team__info__section {
  /* align-self: center; */
  display: flex;
  flex-flow: row; /* good left part, bad right part */
}

.profile__image__container,
.team__image__container {
  align-self: center;
  width: 12rem;
  height: 12rem;
  border-radius: 14px;
  overflow: hidden;
  background-color: rgb(90, 136, 173);
}

.profile__image,
.team__image {
  height: 100%;
  transform: translateX(-25%);
}

.profile__desc__container,
.team__desc__container {
  align-self: center;
  max-width: 24rem;
  padding: 1rem;
}

.profile__info__right {
  align-self: center;
  display: flex;
  flex-flow: column; /* bad left part, good right part */
}

.profile__status__team,
.profile__status__platform {
  text-align: right;
}

.profile__status__team span,
.profile__status__platform span {
  font-size: 1.1rem;
  font-weight: bold;
}

.profile__linksToSocials img,
.team__linksToSocials img {
  margin: 1rem;
  width: 2.5rem;
  display: inline-block;
}

.profile__actions div {
  display: inline-block;
  padding: 0.3rem;
}
