.feed_card {
  margin-bottom: 2.5rem;
  background-color: rgb(226, 225, 225);
  width: 37rem;
  border-radius: 0.5rem;
}

.feed_card_author,
.feed_card_title,
.feed_card_buttons {
  padding: 0.6rem;
}

.feed_card_content iframe {
  width: 100%;
  height: 20rem;
  max-height: max-content;
}

.feed_card_title {
  color: white;
  background-color: rgb(104, 104, 104);
}

.feed_card_buttons {
  display: flex;
  justify-content: space-around;
}
