.footer {
  height: 5rem;
  background-color: rgba(40, 40, 40, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 4rem; */
}

.navbar__links {
  padding: 0;
  margin: 0;
}

.navbar__link {
  padding: 0 1.5rem;
  list-style: none;
  display: inline-block;
}

.link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.link:hover,
.link:active,
.active {
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width: 0.15rem;
}
