.home_main {
  min-height: calc(100vh - 5rem);
}

.welcome {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.welcome_image,
.welcome_message {
  color: white;
  align-self: center;
  margin: 0 2.5rem;
}



.welcome_message {
  width: 25rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  font-size: 1.2rem;
  text-align: justify;
}
