.home__main {
  /* margin-top: 4.5rem; */
  min-height: calc(100vh - 5rem);
}

.welcome {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.welcome__image,
.welcome__message {
  color: white;
  align-self: center;
  margin: 0 2.5rem;
}

.welcome__image {
  /* background-color: rgba(255, 255, 255, 0.2); */
  width: 25rem;
  height: 25rem;
  border-radius: 30rem;
}

.welcome__image img {
  width: 100%;
}

.welcome__message {
  width: 25rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  font-size: 1.2rem;
  text-align: justify;
}

@media (min-width: 40rem) {
}
