.authentication__main {
  width: 80rem;
  align-self: center;
  margin-top: 4.5rem;
  min-height: calc(100vh - 4.5rem - 5rem);
}

.authentication__form {
  background-color: rgba(255, 255, 255, 0.582);
  width: 37%;
  margin: auto;
  display: grid;
}

.authentication__form input {
  font-family: inherit;
}
